In [5]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
address_of_customer = customer_29876["address"]
print(address_of_customer)
rankings = {5: "Finland", 2: "Norway", 3: "Sweden", "7": "Iceland"}
print(rankings['7'])

4803 Wellesley St.
Iceland

In [9]:
 things_to_remember = { 0: "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones",
 13: "a baker's dozen", }
print(things_to_remember)
things_to_remember["newTask"]="my python's data"
print(things_to_remember)
del things_to_remember["snake eyes"]
print(things_to_remember)

{0: 'the lowest number', 'a dozen': 12, 'snake eyes': 'a pair of ones', 13: "a baker's dozen"}
{0: 'the lowest number', 'a dozen': 12, 'snake eyes': 'a pair of ones', 13: "a baker's dozen", 'newTask': "my python's data"}
{0: 'the lowest number', 'a dozen': 12, 13: "a baker's dozen", 'newTask': "my python's data"}

In [10]:
student = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

for each_value in student.values():
    print(each_value)
print("---------")
for k, v in student.items():
    print("key", k, "value", v)
print("---------")
for k in student.keys():
    print("key", k)

David
Elliott
4803 Wellesley St.
---------
key first name value David
key last name value Elliott
key address value 4803 Wellesley St.
---------
key first name
key last name
key address

In [22]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
customer_29877 = {"first name": "Navid", "last name": "Smith", "address": "4501 Wellesley St."}

customer = []
customer.append(customer_29876)
customer.append(customer_29877)
print(customer)
print("------------------")

customer = [customer_29877, customer_29876]
print(customer)
#print(customer{customer_29877})

[{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}, {'first name': 'Navid', 'last name': 'Smith', 'address': '4501 Wellesley St.'}]
------------------
[{'first name': 'Navid', 'last name': 'Smith', 'address': '4501 Wellesley St.'}, {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}]

In [24]:
 customers = [
 {
 "customer id": 0,
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 {
 "customer id": 1,
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 {
 "customer id": 2,
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }
print(customers)
print(customers[2]["address"])
dic = customers[2]
print(dic["address"])

SyntaxError: invalid syntax (<ipython-input-24-1c5003b6d9e2>, line 20)

convert excel file into csv. file type to upload in python

In [30]:
customers = {
 0: {
 
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 1: {
 
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 "abc": {
 
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
}
print(customers)
print(customers[1])
print(customers["abc"]["address"])

{0: {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, 1: {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, 'abc': {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}}
{'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}
3 Main St.

In [37]:
def add_numbers():
    first_number = 2
    second_number = 3
    total = first_number + second_number
    print(total)

add_numbers()

5

In [39]:
def add_numbers(x,y):
    first_number = x
    second_number = y
    total = first_number + second_number
    print(total)

add_numbers(2,3)
add_numbers(4,10)

5
14

In [43]:
def calc_tax(sales_total=101.37, tax_rate=.04):
    print(sales_total * tax_rate)

#positional parameter passing
calc_tax()
calc_tax(200, .08)
calc_tax(200)
calc_tax(101.37, .08)
#named parameter passing
calc_tax(sales_total=101.37, tax_rate=.05)
calc_tax(tax_rate=.05, sales_total=101.37)
calc_tax(sales_total=101.37)
calc_tax(tax_rate=.05)

4.0548
16.0
8.0
8.1096
5.0685
5.0685
4.0548
5.0685

In [44]:
customers = {
0: {
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
1: {
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
2: {
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
}

def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

find_something(customers, 2, "last name")

Somers